<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="main__header">
    <h1>NEWS</h1>
</div>
<div class="main__content">
    <div class="content__menu">
        <ul>
            <li><a href="/">News</a></li>
        </ul>
    </div>
    <div class="content__news__new">
        <form th:action="@{/user/new}" method="post">
            <div class="user__new__form">
                <label for="username">Username:</label><br>
                <input type="text" th:value="${user.username}" id="username" name="username"><br><br>

                <label for="password">Password:</label><br>
                <input type="text" th:value="${user.password}" id="password" name="password"><br><br>
            </div>
            <input type="submit" value="Execute">
        </form>
    </div>
    <div class="content__etc">
        <div class="etc__something">
            Something
        </div>
    </div>
</div>
</body>
</html>